@font-face {
  font-family: "Okra";
  src: url("fonts/Okra-Light.ttf"), /* IE9 Compat Modes */ url("fonts/Okra-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Okra-SemiBold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Okra-ExtraLight.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Okra-Thin.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Okra-Regular.ttf") format("truetype"); /* Legacy iOS */
}

body {
  background-color: #eff4ff;
  font-family: "Okra", Courier, monospace;
}
.into_section {
  background-color: #22252e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo_img {
  width: 300px;
}
.into_contain {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: self-end;
  margin-top: 12em;
}
.into_contain .into_title {
  color: #bfc5d8;
  letter-spacing: 3px;
  font-size: 1em;
}
.atomico_into_box {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #e8e3e3;
}
.atomico_title_box {
  margin-bottom: 3em;
}
.atomico_title_box h2 {
  color: #1553c9;
  font-weight: bold;
  font-family: "Okra-SemiBold";
}
.atomico_title_box p {
  color: #5f636c;
  font-size: 16px;
}
.intro_img_box {
}
.into_img {
  width: 100%;
}
.components_box {
  background-color: #eff4ff;
  height: 100vh;
}
.leftnav {
  background-color: #22252e;
  height: 100vh;
}
.left-title h2 {
  color: #ffffff;
  margin: 0px;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  font-family: "Okra-SemiBold";
  background-color: #2c2f39;
}
.p-0 {
  padding: 0px !important;
}
.component_nav {
  list-style: none;
  padding: 0px 10px;
}
.component_nav li {
  padding: 15px 20px;
  color: #fff;
  text-transform: capitalize;
  background-color: #292d39;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}
.component_nav li.active {
  background-color: #1553c9;
}
.component_nav li::after {
  content: url("../images/arrow-right-icon.svg");
  position: absolute;
  right: 15px;
  top: 15px;
}
.right_section {
  padding: 20px;
}
footer {
  padding: 10px 0;
  background-color: #fff;
  border-top: 1px solid #e8e8e8;
}
.links {
  line-height: 42px;
  font-size: 14px;
}
.links a {
  margin-left: 30px;
  color: #797989;
}
.logo {
  display: inline-block;
  background: url("../images/logo.png") center no-repeat;
  width: 123px;
  height: 42px;
}
